* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
    background-image: url(calculator_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.container {
    height: 680px;
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(143, 22, 22);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: rgb(21, 152, 233);
}

.theme-toggler.active::before {
    background-color: rgb(43, 28, 109);
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(209, 43, 109, 0.89);
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: rgb(255, 255, 255);
}

.calculator #display {
    color: rgb(3, 22, 27);
}

.calculator button#clear {
    background-color: rgb(240, 160, 165);
    color: rgb(120, 50, 55);
}

.calculator button.btn-number {
    background-color: rgb(195, 234, 255);
    color: rgb(0, 0, 0);
}

.calculator button.btn-operator {
    background-color: rgb(255, 208, 251);
    color: rgb(249, 103, 243);
  }
  
  .calculator button.btn-equal {
    background-color: rgb(173, 249, 231);
    color: rgb(0, 0, 0);
  }

  /* dark theme */

  .calculator.dark {
    background-color: rgb(13, 22, 26);
  }

  .calculator.dark #display {
    color: rgb(248, 250, 251);
  }

  .calculator.dark button#clear {
    background-color: rgb(45, 25, 30);
    color: rgb(189, 55, 64);
  }

  .calculator.dark button.btn-number {
    background-color: rgb(27, 47, 56);
    color: rgb(248, 250, 251);
  }

  .calculator.dark button.btn-operator {
    background-color: rgb(46, 31, 57);
    color: rgb(170, 0, 164);
  }
  
  .calculator.dark button.btn-equal {
    background-color: rgb(34, 51, 35);
    color: rgb(255, 255, 255);
  }
  